
<div class='h-32 my-5 border border-gray-500 rounded p-2 w-full flex flex-row' data-movies-target='result' >
  <div class='bg-contain bg-center mr-5 mt-auto mb-auto'>
    <%= image_tag @movie.poster_url, class: 'h-24 bg-contain bg-center mt-auto mb-auto' %>
  </div>
  <div class='flex flex-col mt-auto mb-auto'>
    <div><%= link_to @movie.title, movie_path(@movie.id, query: @query), data: { turbo_frame: 'container' } %></div>
    <div><%= @movie.release_date %></div>
  </div>
</div>